<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net461" developmentDependency="true" />
</packages>