<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net4" userInstalled="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net4" userInstalled="true" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net4" userInstalled="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net40" developmentDependency="true" />
</packages>