@page "/"
@attribute [StreamRendering] /* server-static pages must be streaming */
@inject Csla.Blazor.State.StateManager StateManager

<PageTitle>Project Tracker</PageTitle>

<h1>Project Tracker</h1>

<p>Welcome to the CSLA reference app - Blazor client.</p>

@code
{
    private bool IsStateReady;

    protected override async Task OnInitializedAsync()
    {
        // Every page _must_ initialize the state manager
        await StateManager.InitializeAsync();
    }
}
