<connectionStrings>
  <clear/>
  <add name="DataPortalTestDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataPortalTestDatabase.mdf;Integrated Security=True;"
    providerName="System.Data.SqlClient" />
  <add name="DataPortalTestDatabaseEntities" connectionString="metadata=res://*/Data.TestEFContext.csdl|res://*/Data.TestEFContext.ssdl|res://*/Data.TestEFContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataPortalTestDatabase.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True&quot;"
    providerName="System.Data.EntityClient" />
  <add name="DataPortalTestDatabaseWithInvalidDBValue" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\NoSuchDB.mdf;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="DataPortalTestDatabaseEntitiesWithInvalidDBValue"
    connectionString="metadata=res://*/Data.TestEFContext.csdl|res://*/Data.TestEFContext.ssdl|res://*/Data.TestEFContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\NoSuchDB.mdf;Integrated Security=True;MultipleActiveResultSets=True&quot;"
    providerName="System.Data.EntityClient" /> 
</connectionStrings>  
