<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PTServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PTServiceClient.Properties.Settings>
            <setting name="PTServiceClient_PTService_PTService" serializeAs="String">
                <value>http://localhost/PTWebService/PTService.asmx</value>
            </setting>
        </PTServiceClient.Properties.Settings>
    </applicationSettings>
</configuration>