# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.cs text
*.vb text
*.csproj text
*.vbproj text
*.xml text
*.txt text
*.md text

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
 