/Source/Csla/obj
/Source/Csla.Silverlight/obj
/Source/Csla.Web/obj
/Source/Csla.Web.Mvc/obj
/Source/Csla.Windows/obj
/Source/Csla.Workflow/obj
/Source/Csla.Xaml/obj
/Source/Csla.Xaml.Silverlight/obj
/Source/csla.all.sln.DotSettings.user
/Source/Csla.Android/obj
/Source/Csla.Ios/obj
/Source/Csla.WinRT/obj
/Source/Csla.Wp/obj
/Source/Csla.Xaml.Wp/obj
/Source/csla.all.suo
/Source/csla.android.suo
/Source/csla.android.sln.docstates.suo
/Source/Csla.Ios.sln.docstates.suo
/Source/Csla.Ios.suo
/Source/csla.mono.suo
/Source/csla.mono.sln.docstates.suo
/Source/csla.silverlight.test.sln.docstates.suo
/Source/csla.silverlight.test.suo
/Source/csla.test.sln.docstates.suo
/Source/csla.test.suo
/Source/csla.winrt.suo
/Source/csla.winrt.sln.docstates.suo
/Source/csla.wp.test.suo
/Source/csla.wp.test.sln.docstates.suo
/Source/Csla.Silverlight.test/UnitTest/AppServer/obj
/Source/Csla.Silverlight.test/UnitTest/CslaLight.Testing/obj
/Source/Csla.Silverlight.test/UnitTest/CslaLight.Testing/Client/obj
/Source/csla.all.sln.docstates.suo
/Source/Csla.Silverlight.test/UnitTest/Web/obj
/Source/Csla.Web.Mvc.Test/obj
/Source/Csla.test/obj

/Source/Csla.test/Silverlight/Server/obj
/Bin
