<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CslaAuthentication" value="Csla" />
  </appSettings>
  <connectionStrings>
    <add name="PTracker" 
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\Visual Studio Projects\csla20\ProjectTracker20vb\PTracker.mdf&quot;;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
    <add name="Security" 
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\Visual Studio Projects\csla20\ProjectTracker20vb\Security.mdf&quot;;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
