<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CslaAuthentication" value="Csla"/>
    <!--<add key="CslaDataPortalProxy"
      value="Csla.DataPortalClient.RemotingProxy, Csla"/>
    <add key="CslaDataPortalUrl"
      value="http://localhost:3187/RemotingHost/RemotingPortal.rem"/>-->
    <!--<add key="CslaDataPortalProxy" 
         value="Csla.DataPortalClient.WebServicesProxy, Csla"/>
		<add key="CslaDataPortalUrl" 
         value="http://localhost:4334/WebServicesHost/WebServicePortal.asmx"/>-->
    <!--<add key="CslaDataPortalProxy" 
			 value="EnterpriseServicesHost.EnterpriseServicesProxy, EnterpriseServicesHostvb"/>-->
    <add key="CslaDataPortalProxy"
         value="Csla.DataPortalClient.WcfProxy, Csla"/>
  </appSettings>

  <connectionStrings>
    <add name="PTracker" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Visual Studio Projects\csla\ProjectTrackercs\PTracker.mdf&quot;;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="Security" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Visual Studio Projects\csla\ProjectTrackercs\Security.mdf&quot;;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint name="WcfDataPortal"
                address="http://localhost:3564/WcfHost/WcfPortal.svc"
                binding="wsHttpBinding"
                contract="Csla.Server.Hosts.IWcfPortal" />
    </client>

    <services>
      <service behaviorConfiguration="PTServiceBehavior" name="PTService">
        <!-- use the first endpoint definition if you want simple service calls -->
        <!-- use the second endpoint definition if you want clients to provide a username/password -->
        <endpoint address="" binding="wsHttpBinding" contract="IPTService" />
        <!--<endpoint address="" binding="wsHttpBinding" bindingConfiguration="UserNameWS" contract="IPTService" />-->

        <!-- this endpoint is used for metadata exchange -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/PTService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <bindings>
      <wsHttpBinding>
        <binding name="UserNameWS">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="PTServiceBehavior">
          <!-- uncomment the serviceAuthorization and serviceCredentials 
               blocks to require clients to provide username/password -->
          <!--<serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="PTWcfServiceAuth.PrincipalPolicy, PTWcfServiceAuth"/>
            </authorizationPolicies>
          </serviceAuthorization>
          
          <serviceCredentials>
            <serviceCertificate
              findValue="localhost"
              storeLocation="LocalMachine"
              storeName="My"
              x509FindType="FindBySubjectName" />
            <userNameAuthentication 
              userNamePasswordValidationMode="Custom" 
              customUserNamePasswordValidatorType="PTWcfServiceAuth.CredentialValidator, PTWcfServiceAuth" />
          </serviceCredentials>-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <system.web>
    <compilation debug="true">
      <assemblies>
      </assemblies>
    </compilation>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/optioninfer+">
        <providerOption name="CompilerVersion" value="v3.5"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>
