@if (Property.CanRead)
{
  <tr>
    <td>@(Property.FriendlyName)</td>
    <td>
      <TextInput Property="@Property" InputType="@InputType" />
    </td>
  </tr>
}

@code {
  [Parameter]
  public Csla.Blazor.IPropertyInfo Property { get; set; }
  [Parameter]
  public string InputType { get; set; } = "text";
}
