<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="MonoAndroid" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="MonoAndroid" />
  <package id="Microsoft.Bcl.Build" version="1.0.4" targetFramework="MonoAndroid" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="monoandroid81" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="monoandroid81" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="monoandroid81" developmentDependency="true" />
</packages>