@page
@model ProjectTracker.Ui.Blazor.Areas.Identity.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ProjectTracker</title>
  <base href="~/" />
  <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/bootstrap4-toggle.min.css" />
  <link rel="stylesheet" href="~/css/font-awesome.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <app>
    <div class="sidebar">
    </div>
    <div class="main">
      <div class="top-row px-4">
        <a href="https://cslanet.com/" target="_blank">About</a>
      </div>
      <div class="content px-4">
        <h2>Please Login</h2>
        <br /><br /><br />
        @if (!string.IsNullOrWhiteSpace(Model.AlertMessage))
        {
          <div class="alert alert-danger">@Model.AlertMessage</div>
        }
        <form method="post">
          <div class="form-group">
            <label asp-for="credentials.Username"></label>
            <input asp-for="credentials.Username" class="form-control">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label asp-for="credentials.Password"></label>
            <input asp-for="credentials.Password" class="form-control" type="password">
            <div class="invalid-feedback"></div>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p class="text-info">
          Use username/password 'manager' or 'admin'.
        </p>
      </div>
    </div>
  </app>
</body>
</html>