<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Authentication" value="CSLA" />
    <add key="QueueName" value="BatchQueue" />
    <add key="ListenerName" value="CSLABatch" />
    <add key="ListenerPort" value="5050" />
    <add key="MaxActiveEntries" value="2" />
    <add key="DefaultBatchQueueServer" 
      value="tcp://localhost:5050/cslabatch/batchqueue.rem" />
		<add key="DB:PTracker" value="data source=ineroth;initial catalog=PTracker;user id=ptracker;password=ptracker" /> 
		<add key="DB:Security" value="data source=ineroth;initial catalog=Security;user id=ptracker;password=ptracker" /> 
  </appSettings>
</configuration>
