@page "/counter"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
@inject Csla.Blazor.State.StateManager StateManager

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        // Every page _must_ initialize the state manager
        await StateManager.InitializeAsync();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
