<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceCertificate">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPTService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1052/PTWcfService/PTService.svc"
                behaviorConfiguration="ServiceCertificate"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPTService"
        contract="PTWcfService.IPTService" name="WSHttpBinding_IPTService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA+JIgR5Jw1e2QTlzJ1VNwhtNgfCkgAAAAAQAAAL0BAAAwggG5MIIBY6ADAgECAhCdanLzNkHqg0f11gKkZkxOMA0GCSqGSIb3DQEBBAUAMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5MB4XDTA4MTAwMTIyNDM1OVoXDTM5MTIzMTIzNTk1OVowFDESMBAGA1UEAxMJbG9jYWxob3N0MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCuKLISC6dBtJjotH18M+olZ4sKV5MH+w03To9BIBtur63ItSuwpWHwd4NVBi4eagUnO53O7WXXjD/grf/Jp2Clqhl542W4pP2QT2hZ0Yh8nhnbA/rJuAQklYWhxZWdMnOMEZIoyblR6BtC4Bm/H9WNPR89FSasQSOV138hNjmxAQIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwDQYJKoZIhvcNAQEEBQADQQB7lubEC43h2Zy/8GxKmwQv9/SQD+0embVrskjiYbpBHFmnisGrbeVS0/qwvc3UVphXoLd7AtZd5IEBHozHt0Mf" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>