@page
@model CallServerModel
@{
}

<form role="form">
  <label class="control-label">Click to trigger data portal:</label>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<p></p>
<p></p>
<div>You can view the <a target="_blank" href="/api/DataPortal">results of the dashboard</a>.</div>
