<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net45" developmentDependency="true" />
</packages>