<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Csla.Test.Properties.Settings.DataPortalTestDatabaseConnectionString"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DataPortalTestDatabase.mdf;Integrated Security=True;User Instance=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
  <system.web>
    <roleManager enabled="true" defaultProvider="MockRoleProvider">
      <providers>
        <clear/>
        <add name="MockRoleProvider"
            type="SilverlightClassLibrary.MockRoleProvider, ClassLibrary" />
      </providers>
    </roleManager>
    <membership defaultProvider="MockMembershipProvider">
      <providers>
        <clear/>
        <add name="MockMembershipProvider"
            type="SilverlightClassLibrary.MockMembershipProvider, ClassLibrary" />
      </providers>
    </membership>

  </system.web>
</configuration>