@{
    ViewBag.Title = "Project Tracker Home";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about CSLA .NET visit <a href="http://www.lhotka.net/cslanet" title="CSLA .NET Website">http://www.lhotka.net/cslanet</a>.
</p>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
