<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Authentication" value="CSLA" />
		<add key="DB:PTracker" value="data source=ineroth;initial catalog=PTracker;user id=ptracker;password=ptracker" /> 
		<add key="DB:Security" value="data source=ineroth;initial catalog=Security;user id=ptracker;password=ptracker" /> 
		<!-- <add key="PortalServer" value="http://localhost/DataPortal/DataPortal.rem" /> -->
		<!-- <add key="ServicedPortalServer" value="http://localhost/DataPortal/ServicedDataPortal.rem" /> -->
    <add key="DefaultBatchQueueServer" 
      value="tcp://localhost:5050/cslabatch/batchqueue.rem" />
	</appSettings>
</configuration>
