<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="CslaMembershipProvider" value="Csla.Testing.Business.Security.TestMembershipProvider,Csla.Testing.Business"/>
  </appSettings>
  <connectionStrings/>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfPortalBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfPortal" maxBufferSize="10000000" maxReceivedMessageSize="10000000" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <readerQuotas maxBytesPerRead="20000000" maxArrayLength="20000000" maxStringContentLength="20000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WcfPortalBehavior" name="Csla.Server.Hosts.Silverlight.WcfPortal">
        <endpoint address="" binding="basicHttpBinding" contract="Csla.Server.Hosts.Silverlight.IWcfPortal" bindingConfiguration="BasicHttpBinding_IWcfPortal">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </system.Web>

    The following values can be added to <appSettings>.
      <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      </appSettings>
    -->
  <system.web>
    <authentication mode="Windows"/>
    <!--<identity impersonate="true"/>-->
    <roleManager enabled="true" defaultProvider="MockRoleProvider">
      <providers>
        <clear/>
        <add name="MockRoleProvider" type="Csla.Testing.Business.Security.MockRoleProvider, Csla.Testing.Business"/>
      </providers>
    </roleManager>
    <membership defaultProvider="MockMembershipProvider">
      <providers>
        <clear/>
        <add name="MockMembershipProvider" type="Csla.Testing.Business.Security.MockMembershipProvider, Csla.Testing.Business"/>
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>