<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Hosting" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Console" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Debug" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.9" targetFramework="net461" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Diagnostics.EventLog" version="4.7.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net461" />
  <package id="System.Text.Json" version="5.0.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>