<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CslaAuthentication" value="CSLA" />
  </appSettings>
  <connectionStrings>
    <add name="PTracker" 
         connectionString="data source=ineroth;initial catalog=PTracker;user id=ptracker;password=ptracker"/>
  </connectionStrings>
</configuration>