<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CslaAuthentication" value="CSLA" />
	</appSettings>
	<connectionStrings>
		<add name="PTracker" 
			 connectionString="data source=localhost;initial catalog=PTracker;user id=ptracker;password=ptracker"/>
		<add name="Security"
			 connectionString="data source=localhost;initial catalog=Security;user id=ptracker;password=ptracker"/>
	</connectionStrings>
</configuration>