<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Csla.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Csla.Properties.Settings>
            <setting name="Csla_WebServiceHost_WebServicePortal" serializeAs="String">
                <value>http://localhost:4804/WSPortalcs/Service.asmx</value>
            </setting>
        </Csla.Properties.Settings>
    </applicationSettings>
</configuration>