@inherits LayoutComponentBase

<div class="sidebar">
  <NavMenu />
</div>

<div class="main">
  <div class="top-row px-4">
    <AuthorizeView>
      <Authorized>
        Hello @context.User.Identity.Name; ProjectManager: @context.User.IsInRole("ProjectManager").
      </Authorized>
      <NotAuthorized>
        You are not logged in.
      </NotAuthorized>
    </AuthorizeView>
    <a href="https://cslanet.com" target="_blank">About</a>
  </div>

  <div class="content px-4">
    @Body
  </div>
</div>
