@inherits LayoutComponentBase

<div class="sidebar">
  <NavMenu />
</div>

<div class="main">
  <div class="top-row px-4">
    <AuthorizeView>
      <Authorized>
        Hello, @context.User.Identity.Name
        <form method="post" action="Identity/Account/LogOut">
          <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
      </Authorized>
      <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
      </NotAuthorized>
    </AuthorizeView>
    <a href="https://cslanet.com" target="_blank">About</a>
  </div>

  <div class="content px-4">
    @Body
  </div>
</div>
