<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net46" userInstalled="true" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0" targetFramework="net46" userInstalled="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" userInstalled="true" />
</packages>