<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="BinDir" Name="Bin">
        <Directory Id="AndroidDir" Name="Android" />
        <Directory Id="ClientDir" Name="Client" />
        <Directory Id="ServerDir" Name="Server" />
        <Directory Id="SilverlightDir" Name="Silverlight" />
        <Directory Id="WpDir" Name="Wp" />
      </Directory>
    </DirectoryRef>

    <!--<DirectoryRef Id="AndroidDir" FileSource="$(var.PackageDir)\Bin\Release\Android">
      <Component Id="AndroidFiles" Guid="C1954A88-CCA4-48D2-862A-4586F18AB610">
        <File Id="AndroidCsla.dll" Name="Csla.dll" />
        <File Id="AndroidCsla.XML" Name="Csla.XML" />
        <File Id="AndroidMono.Android.dll" Name="Mono.Android.dll" />
      </Component>
    </DirectoryRef>-->

    <DirectoryRef Id="ClientDir" FileSource="$(var.PackageDir)\Bin\Release\Client">
      <Component Id="ClientFiles" Guid="C90E7A54-F610-4DAA-9E2D-3941BB2DA151">
        <File Id="ClientCsla.dll" Name="Csla.dll" />
        <File Id="ClientCsla.Windows.dll" Name="Csla.Windows.dll" />
        <File Id="ClientCsla.Xaml.dll" Name="Csla.Xaml.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ServerDir" FileSource="$(var.PackageDir)\Bin\Release\Server">
      <Component Id="ServerFiles" Guid="E8D36B5F-71FF-483B-A018-15A9FFE2DC5D">
        <File Id="ServerCsla.Web.dll" Name="Csla.Web.dll" />
        <File Id="ServerCsla.Web.Mvc.dll" Name="Csla.Web.Mvc.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SilverlightDir" FileSource="$(var.PackageDir)\Bin\Release\Silverlight">
      <Component Id="SilverlightFiles" Guid="45E2B186-04F6-459F-8E3D-9B8C677E31C1">
        <File Id="SilverlightCsla.dll" Name="Csla.dll" />
        <File Id="SilverlightCsla.Xaml.dll" Name="Csla.Xaml.dll" />
      </Component>
    </DirectoryRef>

    <!--<DirectoryRef Id="WpDir" FileSource="$(var.PackageDir)\Bin\Release\Wp">
      <Component Id="WpFiles" Guid="A80CD6E4-2A30-4A3C-ACD1-CA3F48B8B70A">
        <File Id="WpCsla.dll" Name="Csla.dll" />
        <File Id="WpCsla.XML" Name="Csla.XML" />
        <File Id="WpCsla.Xaml.dll" Name="Csla.Xaml.dll" />
        <File Id="WpCsla.Xaml.XML" Name="Csla.Xaml.XML" />
      </Component>
    </DirectoryRef>-->

    <ComponentGroup Id="AssemblyComponents">
      <!--<ComponentRef Id="AndroidFiles"/>-->
      <ComponentRef Id="ClientFiles"/>
      <ComponentRef Id="ServerFiles"/>
      <ComponentRef Id="SilverlightFiles"/>
      <!--<ComponentRef Id="WpFiles"/>-->
    </ComponentGroup>
  </Fragment>
</Wix>