<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="SupportDir" Name="Support">
        <Directory Id="SnippetsDir" Name="Snippets">
          <Directory Id="SnippetsCSharpDir" Name="C#" />
          <Directory Id="SnippetsVisualBasicDir" Name="VB" />
        </Directory>
        <Directory Id="TemplatesDir" Name="Templates">
          <Directory Id="TemplatesCSharpDir" Name="C#" />
          <Directory Id="TemplatesVisualBasicDir" Name="VB" />
        </Directory>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="SupportDir" FileSource="$(var.PackageDir)">
      <Component Id="SupportFiles" Guid="B74E3960-B503-45A5-9D19-FB77853828DE">
        <File Id="csla_logo_banner.jpg" Name="csla_logo_banner.jpg" />
        <File Id="favicon.ico" Name="favicon.ico" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SnippetsCSharpDir" FileSource="$(var.PackageDir)\Support\Snippets\cs">
      <Component Id="SnippetsCSharp" Guid="6291EFCC-0FEF-4DE2-A0FA-426C578797FB">
        <File Id="SnippetsCSharpAddACriteriaClass.snippet" Name="AddACriteriaClass.snippet" />
        <File Id="SnippetsCSharpAddBusinessRegions.snippet" Name="AddBusinessRegions.snippet" />
        <File Id="SnippetsCSharpAddDataAccessRegion.snippet" Name="AddDataAccessRegion.snippet" />
        <File Id="SnippetsCSharpAddFactoryMethods.snippet" Name="AddFactoryMethods.snippet" />
        <File Id="SnippetsCSharpDefineACslaAuthorizationRule.snippet" Name="DefineACslaAuthorizationRule.snippet" />
        <File Id="SnippetsCSharpDefineACslaBusinessRule.snippet" Name="DefineACslaBusinessRule.snippet" />
        <File Id="SnippetsCSharpDefineACslaChildProperty.snippet" Name="DefineACslaChildProperty.snippet" />
        <File Id="SnippetsCSharpDefineACslaChildPropertyWithAsyncLazyLoad.snippet" Name="DefineACslaChildPropertyWithAsyncLazyLoad.snippet" />
        <File Id="SnippetsCSharpDefineACslaChildPropertyWithSyncLazyLoad.snippet" Name="DefineACslaChildPropertyWithSyncLazyLoad.snippet" />
        <File Id="SnippetsCSharpDefineACslaIntergraphReference.snippet" Name="DefineACslaIntergraphReference.snippet" />
        <File Id="SnippetsCSharpDefineACslaProperty.snippet" Name="DefineACslaProperty.snippet" />
        <File Id="SnippetsCSharpDefineACslaPropertyWithConversion.snippet" Name="DefineACslaPropertyWithConversion.snippet" />
        <File Id="SnippetsCSharpDefineACslaPropertyWithNoAuthorizationOrDirty.snippet" Name="DefineACslaPropertyWithNoAuthorizationOrDirty.snippet" />
        <File Id="SnippetsCSharpDefineACslaPropertyWithPrivateBackingField.snippet" Name="DefineACslaPropertyWithPrivateBackingField.snippet" />
        <File Id="SnippetsCSharpDefineACslaReadonlyProperty.snippet" Name="DefineACslaReadonlyProperty.snippet" />
        <File Id="SnippetsCSharpDefineACslaReadonlyPropertyWithConversion.snippet" Name="DefineACslaReadonlyPropertyWithConversion.snippet" />
        <File Id="SnippetsCSharpDefineACslaReadonlyPropertyWithNoAuthorization.snippet" Name="DefineACslaReadonlyPropertyWithNoAuthorization.snippet" />
        <File Id="SnippetsCSharpDefineACslaReadonlyPropertyWithPrivateBackingField.snippet" Name="DefineACslaReadonlyPropertyWithPrivateBackingField.snippet" />
        <File Id="SnippetsCSharpDefineACslaSmartDateProperty.snippet" Name="DefineACslaSmartDateProperty.snippet" />
        <File Id="SnippetsCSharpDefineACslaUsingReference.snippet" Name="DefineACslaUsingReference.snippet" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SnippetsVisualBasicDir" FileSource="$(var.PackageDir)\Support\Snippets\vb">
      <Component Id="SnippetsVisualBasic" Guid="8CAE48F8-39B5-4275-817D-CFCFABF7A129">
        <File Id="SnippetsVisualBasicAddACriteriaClass.snippet" Name="AddACriteriaClass.snippet" />
        <File Id="SnippetsVisualBasicAddBusinessRegions.snippet" Name="AddBusinessRegions.snippet" />
        <File Id="SnippetsVisualBasicAddDataAccessRegion.snippet" Name="AddDataAccessRegion.snippet" />
        <File Id="SnippetsVisualBasicAddFactoryMethods.snippet" Name="AddFactoryMethods.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaAuthorizationRule.snippet" Name="DefineACslaAuthorizationRule.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaBusinessRule.snippet" Name="DefineACslaBusinessRule.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaChildProperty.snippet" Name="DefineACslaChildProperty.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaChildPropertyWithAsyncLazyLoad.snippet" Name="DefineACslaChildPropertyWithAsyncLazyLoad.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaChildPropertyWithSyncLazyLoad.snippet" Name="DefineACslaChildPropertyWithSyncLazyLoad.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaIntergraphReference.snippet" Name="DefineACslaIntergraphReference.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaProperty.snippet" Name="DefineACslaProperty.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaPropertyWithConversion.snippet" Name="DefineACslaPropertyWithConversion.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaPropertyWithNoAuthorizationOrDirty.snippet" Name="DefineACslaPropertyWithNoAuthorizationOrDirty.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaPropertyWithPrivateBackingField.snippet" Name="DefineACslaPropertyWithPrivateBackingField.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaReadonlyProperty.snippet" Name="DefineACslaReadonlyProperty.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaReadonlyPropertyWithConversion.snippet" Name="DefineACslaReadonlyPropertyWithConversion.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaReadonlyPropertyWithNoAuthorization.snippet" Name="DefineACslaReadonlyPropertyWithNoAuthorization.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaReadonlyPropertyWithPrivateBackingField.snippet" Name="DefineACslaReadonlyPropertyWithPrivateBackingField.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaSmartDateProperty.snippet" Name="DefineACslaSmartDateProperty.snippet" />
        <File Id="SnippetsVisualBasicDefineACslaUsingReference.snippet" Name="DefineACslaUsingReference.snippet" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TemplatesCSharpDir" FileSource="$(var.PackageDir)\Support\Templates\cs\Files">
      <Component Id="TemplatesCSharp" Guid="5F9954D8-C2EF-4CD7-9D39-79B12B921489">
        <File Id="TemplatesCSharpAuthorizationRuleClass.cs" Name="AuthorizationRuleClass.cs" />
        <File Id="TemplatesCSharpBusinessRuleClass.cs" Name="BusinessRuleClass.cs" />
        <File Id="TemplatesCSharpCommandObject.cs" Name="CommandObject.cs" />
        <File Id="TemplatesCSharpDynamicRoot.cs" Name="DynamicRoot.cs" />
        <File Id="TemplatesCSharpDynamicRootBindingList.cs" Name="DynamicRootBindingList.cs" />
        <File Id="TemplatesCSharpDynamicRootList.cs" Name="DynamicRootList.cs" />
        <File Id="TemplatesCSharpEditableChild.cs" Name="EditableChild.cs" />
        <File Id="TemplatesCSharpEditableChildBindingList.cs" Name="EditableChildBindingList.cs" />
        <File Id="TemplatesCSharpEditableChildList.cs" Name="EditableChildList.cs" />
        <File Id="TemplatesCSharpEditableRoot.cs" Name="EditableRoot.cs" />
        <File Id="TemplatesCSharpEditableRootBindingList.cs" Name="EditableRootBindingList.cs" />
        <File Id="TemplatesCSharpEditableRootList.cs" Name="EditableRootList.cs" />
        <File Id="TemplatesCSharpEditableRootParent.cs" Name="EditableRootParent.cs" />
        <File Id="TemplatesCSharpNameValueList.cs" Name="NameValueList.cs" />
        <File Id="TemplatesCSharpReadOnlyBindingList.cs" Name="ReadOnlyBindingList.cs" />
        <File Id="TemplatesCSharpReadOnlyChild.cs" Name="ReadOnlyChild.cs" />
        <File Id="TemplatesCSharpReadOnlyChildBindingList.cs" Name="ReadOnlyChildBindingList.cs" />
        <File Id="TemplatesCSharpReadOnlyChildList.cs" Name="ReadOnlyChildList.cs" />
        <File Id="TemplatesCSharpReadOnlyList.cs" Name="ReadOnlyList.cs" />
        <File Id="TemplatesCSharpReadOnlyRoot.cs" Name="ReadOnlyRoot.cs" />
        <File Id="TemplatesCSharpSwitchableObject.cs" Name="SwitchableObject.cs" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TemplatesVisualBasicDir" FileSource="$(var.PackageDir)\Support\Templates\vb\Files">
      <Component Id="TemplatesVisualBasic" Guid="5763CEB7-C047-4A1B-B728-B6695EC15D24">
        <File Id="TemplatesVisualBasicAuthorizationRuleClass.vb" Name="AuthorizationRuleClass.vb" />
        <File Id="TemplatesVisualBasicBusinessRuleClass.vb" Name="BusinessRuleClass.vb" />
        <File Id="TemplatesVisualBasicCommandObject.vb" Name="CommandObject.vb" />
        <File Id="TemplatesVisualBasicDynamicRoot.vb" Name="DynamicRoot.vb" />
        <File Id="TemplatesVisualBasicDynamicRootBindingList.vb" Name="DynamicRootBindingList.vb" />
        <File Id="TemplatesVisualBasicDynamicRootList.vb" Name="DynamicRootList.vb" />
        <File Id="TemplatesVisualBasicEditableChild.vb" Name="EditableChild.vb" />
        <File Id="TemplatesVisualBasicEditableChildBindingList.vb" Name="EditableChildBindingList.vb" />
        <File Id="TemplatesVisualBasicEditableChildList.vb" Name="EditableChildList.vb" />
        <File Id="TemplatesVisualBasicEditableRoot.vb" Name="EditableRoot.vb" />
        <File Id="TemplatesVisualBasicEditableRootBindingList.vb" Name="EditableRootBindingList.vb" />
        <File Id="TemplatesVisualBasicEditableRootList.vb" Name="EditableRootList.vb" />
        <File Id="TemplatesVisualBasicEditableRootParent.vb" Name="EditableRootParent.vb" />
        <File Id="TemplatesVisualBasicNameValueList.vb" Name="NameValueList.vb" />
        <File Id="TemplatesVisualBasicReadOnlyBindingList.vb" Name="ReadOnlyBindingList.vb" />
        <File Id="TemplatesVisualBasicReadOnlyChild.vb" Name="ReadOnlyChild.vb" />
        <File Id="TemplatesVisualBasicReadOnlyChildBindingList.vb" Name="ReadOnlyChildBindingList.vb" />
        <File Id="TemplatesVisualBasicReadOnlyChildList.vb" Name="ReadOnlyChildList.vb" />
        <File Id="TemplatesVisualBasicReadOnlyList.vb" Name="ReadOnlyList.vb" />
        <File Id="TemplatesVisualBasicReadOnlyRoot.vb" Name="ReadOnlyRoot.vb" />
        <File Id="TemplatesVisualBasicSwitchableObject.vb" Name="SwitchableObject.vb" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="SupportComponents">
      <ComponentRef Id="SupportFiles"/>
      <ComponentRef Id="SnippetsCSharp"/>
      <ComponentRef Id="SnippetsVisualBasic"/>
      <ComponentRef Id="TemplatesCSharp"/>
      <ComponentRef Id="TemplatesVisualBasic"/>
    </ComponentGroup>
  </Fragment>
</Wix>