@model ProjectTracker.Library.Admin.RoleEdit

@{
    ViewBag.Title = "Delete Role";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this role?</h3>
<fieldset>
    <legend>Role</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
