@model Mvc3UI.ViewModels.ResourceViewModel

@{
    ViewBag.Title = "Delete resource";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Resource</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.ModelObject.FullName</div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


