<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define VERSION="4.5.580"?>
  <Product Id="*" Name="CSLA .NET" Language="1033" Version="$(var.VERSION).0" Manufacturer="Marimer LLC" UpgradeCode="8824E2E6-B4C5-4033-BE03-0BB4378C0B50">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPPRODUCTICON" Value="favicon.ico" />
    <Feature Id="ProductFeature" Title="WixSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="NetComponents"/>
      <ComponentGroupRef Id="Net4Components"/>
      <ComponentGroupRef Id="SilverlightComponents"/>
      <ComponentGroupRef Id="WinRTComponents"/>
      <ComponentGroupRef Id="WinPRTComponents"/>
      <ComponentGroupRef Id="AndroidComponents"/>
      <ComponentGroupRef Id="iOSComponents"/>
      <ComponentGroupRef Id="LogosComponents"/>
      <ComponentGroupRef Id="CSSnippetsComp"/>
      <ComponentGroupRef Id="VBSnippetsComp"/>
    </Feature>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="Marimer LLC">
          <Directory Id="CSLAFolder" Name="CSLA .NET">
             <Directory Id="INSTALLDIR" Name="$(var.VERSION)">
              <Directory Id="Bin" Name="Bin">
                <Directory Id="Net" Name="NET" />
                <Directory Id="Net4" Name="NET4" />
                <Directory Id="Silverlight" Name="Silverlight" />
                <Directory Id="WinRT" Name="WinRT" />
                <Directory Id="WinPRT" Name="WinPRT" />
                <Directory Id="Android" Name="Android" />
                <Directory Id="iOS" Name="iOS" />
              </Directory>
              <Directory Id="Support" Name="Support">
                <Directory Id="Logos" Name="Logos" />
                <Directory Id="Snippets" Name="Snippets">
                  <Directory Id="CSSnippets" Name="C#" />
                  <Directory Id="VBSnippets" Name="VB" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Icon Id="favicon.ico" SourceFile="$(var.SolutionDir)favicon.ico"/>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="..\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="CSLABanner.BMP" />
    <WixVariable Id="WixUIDialogBmp" Value="CSLADialog.BMP" />

  </Fragment>

  <!-- Fragment for files in Root -->
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="comp_CslaZIP" />
      <ComponentRef Id="comp_LicenseRTF" />
      <ComponentRef Id="comp_LicenseTXT" />
      <ComponentRef Id="comp_ReadmeRTF" />
      <ComponentRef Id="comp_ReadmeMD" />
      <ComponentRef Id="comp_ReadmeMD" />
      <ComponentRef Id="comp_HelpChm" />
    </ComponentGroup>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="comp_CslaZIP" Guid="{5797F598-B6D1-491C-A9F7-FC1A4186BADD}">
        <File Id="file_CslaZIP" KeyPath="yes" Source="Csla.zip" />
      </Component>
      <Component Id="comp_LicenseRTF" Guid="{FCCAD9FD-F8FA-4EFF-8FB3-FD0803488125}">
        <File Id="file_LicenseRTF" KeyPath="yes" Source="$(var.SolutionDir)..\License.RTF" />
      </Component>
      <Component Id="comp_LicenseTXT" Guid="{0B76D726-2CA6-4FC0-A399-D9503CEEE02A}">
        <File Id="file_LicenseTXT" KeyPath="yes" Source="$(var.SolutionDir)..\License.TXT" />
      </Component>
      <Component Id="comp_ReadmeRTF" Guid="{FAD1A2F5-D32C-4266-8351-FE3A6EEF5431}">
        <File Id="file_ReadmeRTF" KeyPath="yes" Source="$(var.SolutionDir)..\Readme.RTF" />
      </Component>
      <Component Id="comp_ReadmeMD" Guid="{FEBCDA23-79E9-4D15-A989-48B2697FB33B}">
        <File Id="file_ReadmeMD" KeyPath="yes" Source="$(var.SolutionDir)..\Readme.md" />
      </Component>
      <Component Id="comp_HelpChm" Guid="{FEBCDA23-79E9-4D15-A989-48B2697FB33C}">
        <File Id="file_HelpChm" KeyPath="yes" Source="$(var.SolutionDir)..\Source\CslaDoc\Help\csla.chm" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>