name: main

on:
  push:
    branches: [ main, v7.x, v8.x ]
    paths: ['Source/**', '.github/workflows/**']
  pull_request:
    branches: [ main, v7.x, v8.x ]
    paths: ['Source/**', '.github/workflows/**']

jobs:

  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0'
        include-prerelease: True

    - name: Build
      run: dotnet build Source\csla.test.sln

    - name: Test
      run: dotnet test Source\csla.test.sln --no-build --verbosity normal --filter TestCategory!=SkipOnCIServer --settings test.runsettings
