<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.4.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.4.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.4.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.4.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.4.3" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.12.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="3.6.4" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.6.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
</packages>